.logo2 {
  width: 70px;
  height: 70px;
  line-height: normal;
  vertical-align: middle;
  border-radius: 30%;
}

.nav {
  background-color: #aaa;
  font-weight: bold;
  width: 100%;
  position: sticky;
  z-index: 1000000000000000;
  top: 0;
  left: 0;
}

.nav-link {
  padding: 0px !important;
}

@media only screen and (max-width: 424px) and (min-width: 10px) {
  #navbarScroll {
    width: 100%;
  }

  .me-auto {
    background-color: rgb(251, 212, 109);
    width: 100%;
  }

  .search-form {
    padding-top: 0px;
    height: 50px;
    width: 100%;
  }
  .icons {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
  .search-form {
    padding-top: 0px;
    height: 75px;
    width: 100%;
  }

  #navbarScroll {
    width: 100%;
  }

  .me-auto {
    background-color: rgb(251, 212, 109);
    width: 100%;
  }

  .icons {
    width: 100%;
  }
  Form {
    width: 100%;
  }

  #search-menu {
    width: 100%;
  }
}
